<div class="container">
	<div class="row WhLiensEcom">

		<?php 
		foreach($_MenuEcommerce as $v) : ;
		echo '<div class="col-md-2">';
		echo $this->Html->link('<i class="fa fa-'.$v['Page']['icone'].'"></i>'.$v['Page']['name'], $v['Page']['url'], array('data-toggle' => 'modal', 'data-target' => '#popup_ajx', 'class' => 'item_'.$v['Page']['id'], 'escape' => false));
		echo '</div>';
		endforeach;
		?>

	</div>
</div>