<div class="panel panel-default" style="margin-top: 42px;">
    <div class="panel-body" ng-switch="messageType" ng-class="{'traditional csspinner' : MessagesLoading}">
        <table class="table table-hover mb-mails table-striped">
            <thead>
            <th style="width:80px;"></th>
            <th style="width:60px;" class="text-center">Type</th>
            <th style="width:60px;" class="text-center">Nbr</th>
            <th>Message</th>
            </thead>

            <tbody>
            <tr ng-repeat="Message in Messages.liste track by $index" ng-class="{success : Message.NewsletterCampaign.etat_id == 'envoye', danger : Message.NewsletterCampaign.etat_id == '', info : Message.NewsletterCampaign.etat_id == 'a_envoyer'}">
                <td>
                    <a ng-click="$state.transitionTo('app.mailbox.compose', {id:Message.NewsletterCampaign.id})" class="btn btn-primary btn-xs" ng-if="Message.NewsletterCampaign.etat_id == 'a_envoyer'"><i class="fa fa-edit"></i></a>
                    <a ng-click="delete($index);" class="btn btn-danger btn-xs" ng-if="Message.NewsletterCampaign.etat_id == 'a_envoyer'"><i class="fa fa-trash-o"></i></a>
                </td>
                <td><strong>{{Message.NewsletterCampaign.type}}</strong></td>
                <td class="text-center"><strong ng-show="Message.NewsletterCampaign.send">{{Message.NewsletterCampaign.nbr}}</strong>
                </td>
                <td ng-click="$state.transitionTo('app.mailbox.view')">
                    <div class="mb-mail-date">{{Message.NewsletterCampaign.updated_js | date:"dd/mm/YYYY à HH:II"}}
                    </div>
                    <div class="pull-left">
                        <div class="mb-mail-from">{{Message.NewsletterCampaign.default_from_name}} ({{Message.NewsletterCampaign.default_from_email}})  </div>
                        <div class="mb-mail-subject">{{Message.NewsletterCampaign.default_from_subject}} </div>
                    </div>
                    <div class="mb-mail-preview">{{Message.NewsletterCampaign.message}} </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>