<?php $this->element('balises_metas', array('metas' => $page['Page'])); ?>
<div class="container">


<p class="vert">Votre protection environnementale</p>
<p class="baseline">Dératisation - Désinsectisation - Désinfection - Traitement de l'humidité et traitement des bois</p>
<p class="clients">Particuliers <span>-</span> Entreprises <span>-</span> Collectivités <span>-</span> Communes</p>

</div>

<div class="container">

<?=$this->element('caroussel');?>

</div>

<div class="clearfix"></div>
<div class="container">
      <div class="display-table-stat">
                <div>
                    <div class="col-md-12 padding-top48">
                        <div class="postslider">
<h1><?=$page['Page']['sous_titre'];?></h1>
                            <div class="line-height26"><?=$page['Page']['body'];?></div>
                        </div>
                    </div>
                 
                </div>
            </div>


</div>




    


<?php 
//$portfolioItems
//$ContentModules
//$metiers
//$actus
?>

