<form ng-submit="submit()" autocomplete="off" ng-controller="UsersEditCtrl" name="Form" class="wh-cms">

    <div ng-bind-html="log"></div>

    <ol class="breadcrumb mt0 mb">
        <li><a href="#/app/users/view/">Retourner au staff</a></li>
    </ol>

    <div class="row">

        <div class="col-md-8" ng-controller="ModuleCtrl">

            <div class="panel panel-info">
                <div class="panel-heading">Identité</div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-6">

                            <whform label="Nom : " ng-model="data.User.nom" error="error.User.nom[0]" tabindex="0"></whform>
                            <whform label="Email : " ng-model="data.User.email" error="error.User.email[0]" tabindex="1"></whform>


                        </div>

                        <div class="col-md-6">

                            <whform label="Prénom : " ng-model="data.User.prenom" error="error.User.prenom[0]" tabindex="2"></whform>
                            <whform label="Téléphone : " ng-model="data.User.telephone" error="error.User.telephone[0]" tabindex="3"></whform>

                        </div>

                    </div>

                </div>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Présentation</div>
                <div class="panel-body">

                    <whform label="Presentation résumée : " ng-model="data.User.resume" tag="textarea"></whform>

                    <div class="form-group">
                        <label>Présentation : </label>
                        <textarea ng-model="data.User.body" class="form-control" redactor></textarea>
                    </div>

                </div>

            </div>

            <div class="panel panel-info"> <!--ng-show="data.User.id == user.id"-->
                <div class="panel-heading">Mon accès</div>
                <div class="panel-body">

                    <div class="row">
                        <!--<div class="col-md-4"><whform label="Mon mot de passe actuel : " ng-model="data.User.mypassword" type="password"  error="error.User.mypassword[0]"></whform></div>-->
                        <div class="col-md-4"><whform label="Nouveau mot de passe : " ng-model="data.User.motdepasse" type="password" error="error.User.motdepasse[0]"></whform></div>
                        <div class="col-md-4"><whform label="Confirmez le mot de passe saisie : " ng-model="data.User.confirm_password" type="password" error="error.User.confirm_password[0]"></whform></div>

                    </div>

                </div>

            </div>

        </div>


        <div class="col-md-4">

            <div id="panelVignette" class="panel panel-info" ng-controller="FileManagerController">
                <div class="panel-heading" >
                    <i class="fa fa-picture-o"></i> Photo
                </div>
                <div collapse="panelVignette" class="panel-wrapper">
                    <div class="panel-body">
                        <img ng-src="{{data.User.vignette.File.url}}" alt="" ng-show="data.User.vignette" style="width:100%;max-width:100%;" />
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-sm btn-danger" ng-click="deleteFileManager('data.User.vignette')" ng-show="data.User.vignette"><i class="fa fa-trash-o"></i> Supprimer</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-sm btn-success" ng-click="openFileManager('data.User.vignette', 1)"><i class="fa fa-plus-square"></i></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading"><i class="fa fa-save"></i> Rôle et accès</div>
                <div class="panel-body">

                    <table>
                        <tr ng-repeat="(key, value) in Groups">
                            <td>
                                <div class="checkbox c-checkbox">
                                    <label>
                                        <input type="checkbox" checklist-model="data.UserGroup" checklist-value="key">
                                        <span class="fa fa-check"></span>
                                    </label>
                                </div>
                            </td>
                            <td>{{value}}</td>
                        </tr>
                    </table>

                    <hr/>

                    <a ng-click="send_password()" ng-show="!data.User.motdepasse && data.User.id">Envoyer un mot de passe</a>

                </div>
                <div class="panel-footer text-right">

                    <button type="submit" ng-disabled="Form.$invalid" class="btn btn-sm btn-success"><i class=""></i>Enregistrer</button>

                </div>

            </div>

        </div>

    </div>

</form>

