<div class="row">
    <div class="col-md-12">
        <?php if(is_object($content['content']->img)) echo $this->Html->image($content['content']->img->File->url, array('title' => $content['content']->img->File->name));?>
    </div>
</div>
