<div class="panel panel-info">
    
    <div class="panel-heading sortable-handler">

        <div class="pull-right">

            <div dropdown="dropdown" class="btn-group mb-sm">
                <button type="button" ng-disabled="disabled" class="btn dropdown-toggle btn-default btn-xs"><i class="fa fa-cog"></i> <span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu">
                    <li ng-repeat="O in C.ContentModule.params.options"><a ng-click="C.ContentModule.content.params.prop = O.value">{{O.name}}</a></li>
                </ul>
            </div>

            <ng-include src="'app_admin/views/elements/cms/btns-admin.html'"></ng-include>

        </div>

        <i class="fa fa-align-justify"></i> {{Modules[C.ContentModule.module].params.name}}

    </div>
    <div class="panel-body {{C.ContentModule.content.params.prop}}">
        <div class="row">
            <div class="col-md-12">

                <whform ng-model="C.ContentModule.content.title" placeholder="Titre du bloc (facultatif)"></whform>
                <whform ng-model="C.ContentModule.content.template" placeholder="Template (facultatif)"></whform>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

                <textarea name="data[Contents][{{$index}}][ContentModule][content][txt]" ng-model="C.ContentModule.content.txt" redactor>{{C.ContentModule.content.txt}}</textarea>

            </div>
            <div class="col-md-4 add-img" ng-controller="FileManagerController" >

                <div ng-click="openFileManager('data.Contents[$index].ContentModule.content.img', 1)">

                    <i class="fa fa-picture-o fa-5x" ng-hide="C.ContentModule.content.img"></i>

                    <div  ng-show="data.Contents[$index].ContentModule.content.img">
                        <img ng-src="{{data.Contents[$index].ContentModule.content.img.File.url}}" alt="" />
                    </div>

                </div>

                <a type="button" class="btn btn-danger btn-xs" ng-click="data.Contents[$index].ContentModule.content.img = false" ng-show="data.Contents[$index].ContentModule.content.img"><i class="fa fa-trash-o"></i> Supprimer</a>
            </div>
        </div>
    </div>

</div>