<div class="panel panel-info">
    
    <div class="panel-heading sortable-handler">

        <div class="pull-right">
            <ng-include src="'app_admin/views/elements/cms/btns-admin.html'"></ng-include>
        </div>

        {{Modules[C.ContentModule.module].params.name}}

    </div>
    <div class="panel-body {{C.ContentModule.content.params.prop}}">

        <div class="row">
            <div class="col-md-12">
                <whform ng-model="C.ContentModule.content.template" placeholder="Template (facultatif)"></whform>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 add-img" ng-controller="FileManagerController">

                <div ng-click="openFileManager('data.Contents[$index].ContentModule.content.img', 1)">

                    <i class="fa fa-picture-o fa-5x" ng-hide="data.Contents[$index].ContentModule.content.img"></i>

                    <div ng-show="data.Contents[$index].ContentModule.content.img">
                        <img ng-src="{{data.Contents[$index].ContentModule.content.img.File.url}}" alt="" ng-show="data.Contents[$index].ContentModule.content.img"  />
                    </div>

                </div>

                <a type="button" class="btn btn-danger btn-xs" ng-click="data.Contents[$index].ContentModule.content.img = false" ng-show="data.Contents[$index].ContentModule.content.img"><i class="fa fa-trash-o"></i> Supprimer</a>

            </div>
        </div>
    </div>

</div>