<div class="panel panel-info">

    <div class="panel-heading sortable-handler">

        <div class="pull-right" role="group">
            <ng-include src="'app_admin/views/elements/cms/btns-admin.html'"></ng-include>
        </div>

        <i class="fa fa-align-justify"></i> {{Modules[C.ContentModule.module].params.name}}

    </div>

    <div class="panel-body {{C.ContentModule.content.params.prop}}">

        <div class="row">
            <div class="col-md-12">
                <whform ng-model="C.ContentModule.content.template" placeholder="Template (facultatif)"></whform>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <whform ng-model="C.ContentModule.content.title" placeholder="Titre du bloc (facultatif)"></whform>
                <textarea ng-model="C.ContentModule.content.txt" redactor>{{C.ContentModule.content.txt}}</textarea>

            </div>
        </div>
    </div>
</div>
