@charset "utf-8";
/* CSS Document */


h1,h2,h3,h4,h5,h6 {
	font-family:'OstrichSansMedium';
	font-weight: normal;
	color:#ef4939;
	margin:10px 0;
}
h1 {
	font-size:38px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size:22px;
}
h4 {
	font-size:20px;
}
body {
	font-family: 'PTSansRegular', Sans-Serif;
	font-size:14px;
	margin:0;
	text-align:center;
}
a {
	text-decoration:none;
	color:#1a86ac;
}

a img {
	border:0;
}
.clear {
	clear:both;
}
.half_page {
	width:460px;
	float:left;
}

.half_page.first {
	margin-right:20px;
}

.selectors {
	text-align:center;
	margin:20px auto;
	border-bottom:1px solid #ef4939;
	max-width:960px;
}
.selectors a {
	font-family:'OstrichSansMedium';
	font-weight: normal;
	text-decoration:none;
	color:#ef4939;
	font-size:34px;
	margin:10px;
}
.selectors a.active,
.selectors a:hover {
	color:#313131;
}


/* ------------------------ help --------------------------------- */

.page_wrapper {
	margin:0 auto; 
	position:relative; 
	padding:0;
}

.help {
	width:960px;
	text-align:left;
	margin:0 auto;
}

.help p {
	margin:10px 0;
}

.help h2{
	margin:40px 0 20px 0;
	font-size:32px;
}

.help ol {
	padding-left:20px;
}

.big_image {
	margin-left:-120px
}

pre {
	border: solid 1px #dddddd;
	font-size: 11px;
	color: blue;
	margin: 10px 0;
	padding:10px;
	background: #f2f2f2;
}
code {
	font-size:1.2em;
	color: #008099;
}

.red { color:#c30000;}
.green {color:#1c9600;}
.orange {color:#c17b00;}
.purple {color:#b100c1;}
.blue {color:#1f08c9;}

table {
	border: solid 1px #dddddd;
	background:#fff;
	margin:10px 0;
}
th {
	padding:10px;
    background: #dddddd;
}

td {
	padding:10px;
    background: #f2f2f2;
}

