<div ng-controller="ActualitesIndexCtrl">

    <h3 class="page-header mt0">
        <div class="pull-right">
                <a href="#/app/actualites/edit/" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Créer une nouvelle actualité</a>
        </div>
        <span>Liste des actualités</span>
    </h3>


    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-info">

                <div class="panel-heading"><span>Liste des actualités de votre site web</span></div>

                <div class="table-responsive" ng-show="Actualites">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th></th>
                            <th></th>
                            <th>Nom de l’actualité</th>
                            <th>Rubrique</th>
                            <th>Date de publication</th>
                            <th class="text-right">Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="Actu in Actualites track by $index">
                            <td>
                                <a class="btn btn-primary btn-xs" href="#/app/actualites/edit/{{Actu.Actualite.id}}"><i class="fa fa-edit"></i> Modifier</a>
                                <a class="btn btn-danger btn-xs" ng-click="delete($index)"><i class="fa fa-trash-o"></i></a>
                            </td>
                            <td>{{Actu.Actualite.id}}</td>
                            <td>{{Types[Actu.Actualite.type]}}</td>
                            <td>
                                <h4 class="mt0">{{Actu.Actualite.name}}</h4>
                                <p>Voir la page : <a href="{{Actu.Actualite.url}}" target="_blank">{{Actu.Actualite.url}}</a></p>
                            </td>
                            <td>{{Actu.Page.name}}</td>
                            <td >{{Actu.Actualite.publication_date | date:'dd/MM/yyyy'}}</td>
                            <td class="text-right"><div class="label label-{{Actu.Etat.class}}">{{Actu.Etat.name}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body text-center" ng-hide="Actualites">
                    Il n'y a actuellement pas d'actualités, <a href="#/app/actualites/edit/">souhaitez vous en créer une</a> ?
                </div>

            </div>

        </div>


    </div>
</div>