<whform label="Nom du champ : " ng-model="data.FormElement.configuration.name"></whform>
<whform label="Taille du champ : " ng-model="data.FormElement.configuration.size"></whform>
<whform label="Taille max du champ : " ng-model="data.FormElement.configuration.max_size"></whform>
<whform label="Valeur par défaut : " ng-model="data.FormElement.configuration.value"></whform>