<whform label="Nom du champ : " ng-model="data.FormElement.configuration.name"></whform>
<whform label="Liste des possibilités (séparées par des virgules) : " ng-model="data.FormElement.configuration.options" tag="textarea" ></whform>
<whform label="Multiple ?" ng-model="data.FormElement.configuration.multiple" options="choixCheck" obj="true" ></whform>