<whform label="Nom du champ : " ng-model="data.FormElement.configuration.name"></whform>
<whform label="Nombre de lignes : " ng-model="data.FormElement.configuration.rows"></whform>
<whform label="Valeur par défaut : " ng-model="data.FormElement.configuration.value"></whform>