iframe[ng-appercue] {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

*[ng-click] {
    cursor: pointer;
}

.topnavbar .navbar-header .brand-logo {
  display: block;
 padding: 0;
}

/**
  * Repise de boostrap
  */
.dropdown-menu {
  z-index:2000;
}

.panel-info > .panel-heading {
  background: #3a3f51;
}

.breadcrumb {
  background:none;
  padding:0;
}

fieldset .form-group {margin-bottom:15px;}

/**
  * Reprise App
  */
body .input-group .chosen-container:last-child>a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/**
  * Propre au cms
  */
.wh-cms {

  textarea[redactor] {

  }

  .add-img {

    > div {

      min-height: 300px;
      background: #F5F5F5;
      text-align: center;
      line-height: 300px;
      position:relative;

      img {
        max-width:100%;
        width: 100%;
      }

    }

    a[type=button] {
      width: 100%;
    }


  }

  .bloc-txtimg {

    .img-left {

      div.col-md-4 {
        float:left;
      }
      div.col-md-8 {
        float:right;
      }

    }

  }

}

/**
  * TREE Menu Page
  */
.tree {
  > div {

    ol {
      padding-left: 20px;
    }

    > ol {
      padding:0;
      li {
        list-style:none;
      }
    }

  }

  .active {
    font-weight:bold;

    a.item {
      text-decoration: underline;
    }
  }

}