 <section class="pt pt-sm-80">
            <div class="container">
			
			<div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel image-slider o-flow-hidden">

                            <div class="item">
                                <img src="/mazel/img/salon/salon1.jpg" alt="" />
                            </div>
                            <div class="item">
                                <img src="/mazel/img/salon/salon2.jpg" alt="" />
                            </div>
                            <div class="item">
                                <img src="/mazel/img/salon/salon3.jpg" alt="" />
                            </div>
							 <div class="item">
                                <img src="/mazel/img/salon/salon4.jpg" alt="" />
                            </div>
							 <div class="item">
                                <img src="/mazel/img/salon/salon5.jpg" alt="" />
                            </div>
							 <div class="item">
                                <img src="/mazel/img/salon/salon6.jpg" alt="" />
                            </div>
							 <div class="item">
                                <img src="/mazel/img/salon/salon7.jpg" alt="" />
                            </div>
							 <div class="item">
                                <img src="/mazel/img/salon/salon8.jpg" alt="" />
                            </div>
							 <div class="item">
                                <img src="/mazel/img/salon/salon9.jpg" alt="" />
                            </div>
							 <div class="item">
                                <img src="/mazel/img/salon/salon10.jpg" alt="" />
                            </div>
							 <div class="item">
                                <img src="/mazel/img/salon/salon11.jpg" alt="" />
                            </div>
							 <div class="item">
                                <img src="/mazel/img/salon/salon12.jpg" alt="" />
                            </div>

                        </div>
                    </div>
                </div>
				
				</div>
</section>