<h3>
    Formulaires
    <small>Créer vos formulaires</small>
</h3>

<ol class="breadcrumb" ng-show="false">
    <li><a href="#/">Accueil</a></li>
    <li><a href="#/app/formulaires/index">Formulaires</a></li>
</ol>

<div class="table-grid">
    <div ui-view="" class="col"></div>
</div>