<div class="form-group" ng-class="{'has-error': error}">
    <label for="" ng-show="label">{{label}}</label>
    <textarea ng-model="ngModel" placeholder="{{placeholder}}" class="form-control {{tagClass}}" tabindex="{{tabindex}}"></textarea>
    <span class="input-group-addon" ng-show="append">{{append}}</span>
    <span class="help-block" ng-show="legende">{{legende}}</span>
    <ul class="parsley-errors-list filled" ng-show="error"><li>{{error}}</li></ul>
</div>
