<!-- top navbar-->
<header ng-include="'app_admin/views/elements/top-navbar.html'" class="topnavbar-wrapper"></header>
<!-- sidebar-->
<aside ng-include="'app_admin/views/elements/sidebar.html'" ng-controller="SidebarController" class="aside"></aside>
<!-- offsidebar-->
<!--<aside ng-include="'app_admin/views/elements/offsidebar.html'" class="offsidebar"></aside>-->
<!-- Main section-->
<section ng-class="{'traditional csspinner' : loading}">
   <!-- Page content-->
   <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper"></div>
</section>
<!-- Page footer-->
<footer ng-include="'app_admin/views/elements/footer.html'"></footer>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
